*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
}

// NAV
nav {
	background-color: rgb(170, 170, 170);
	z-index: 1;

	.navbar-brand {
		font-weight: 700;
		color: royalblue;
		i {
			font-size: 50px;
			color: aliceblue;
		}
	}
	.navbar-toggler {
		color: royalblue;
		padding: 10px;
		border: 2px solid royalblue;
		font-weight: bold;
	}

	.nav-link {
		color: royalblue;
	}

	.nav-link:hover {
		color: rgb(0, 0, 0);
		font-weight: 700;
		transition: color 0.4s, font-weight 0.4s;
	}
}
//  HEAD

header {
	position: relative;
	display: flex;
	// justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	.hero-bg {
		position: relative;
		height: 100vh;
		width: 100vw;
		background-color: #bdd4e7;
		z-index: 0;
	}
	.hero-text {
		position: absolute;
	}

	.holder {
		border-radius: 10px;
	}

	.fa-solid {
		color: black;
		margin-top: 100px;
	}
	.fa-angles-left {
		position: absolute;
		left: 30%;
	}
	.fa-angles-right {
		position: absolute;
		right: 30%;
	}

	.wrapper {
		position: absolute;
		bottom: 30px;
		left: 30px;
		background-color: white;
		max-width: 40vh;
		max-height: 30vw;
		border-radius: 15px;
		text-align: center;
		.content {
			h6 {
				font-weight: 700;
				font-size: 20px;
			}
			p {
				font-size: 12px;
			}
			button {
				border-radius: 10px;
				margin-bottom: 5px;
				
			}
		}
	}
}

@media (min-width: 320px) and (max-width: 374px) {
	header {
		h1 {
			font-size: 35px;
		}
		p {
			font-size: 20px;
		}
		input {
			font-size: 25px;
			margin-top: 20px;
			border-radius: 10px;
			border: 3px solid black;
		}
		.fa-solid {
			margin-top: 40px;
			font-size: 50px;
		}
	}
	nav {
		.navbar-toggler {
			font-size: 10px;
		}
		.fa-bars-staggered {
			font-size: 30px;
		}
	}
}

@media (min-width: 375px) {
	header {
		h1 {
			font-size: 50px;
		}
		p {
			font-size: 30px;
		}
		.fa-solid {
			margin-top: 20px;
			font-size: 60px;
		}
	}
	nav {
		.fa-bars-staggered {
			font-size: 20px;
		}

		.navbar-brand {
			font-size: 25px;
		}
		.nav-link {
			font-size: 20px;
		}
	}
}

@media (min-width: 768px) {
	header {
		h1 {
			font-size: 70px;
		}
		p {
			font-size: 40px;
		}
		.fa-solid {
			font-size: 100px;
		}
		input {
			font-size: 40px;
			margin-top: 20px;
			border-radius: 10px;
		
		}
	}
	nav {
		.fa-bars-staggered {
			font-size: 40px;
		}

		.navbar-brand {
			font-size: 40px;
		}

		.nav-link {
			font-size: 40px;
		}
	}
}
